/* GENERAL SPECIFICATIONS */
:root {
    --font-sans-serif: Roboto, sans-serif;
    --font-serif: Newsreader, serif;
    --black: #000;
    --white: #fff;
    --purple-light: #efeafd;
    --orange: #cb633e;
    --purple-dark: #847ffa;
    --green: #5b7b69;
    --peach: #f0cfcd;
    --blue: #2e54ec;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: var(--font-sans-serif);
    color: var(--black);
}

.component img {
    border: 1px solid #ccc;
}

/* MISSION STATEMENT */
.mission-statement {
    font-family: var(--font-serif);
    font-size: 3.4rem;
    font-weight: 370;
    line-height: 1.2;
    border: 1px solid #ccc;
    padding: 4rem 18rem;
    text-align: left;
}