/* GENERAL SPECIFICATIONS */
:root {
    --font-sans-serif: Roboto, sans-serif;
    --font-serif: Newsreader, serif;
    --black: #000;
    --white: #fff;
    --purple-light: #efeafd;
    --orange: #cb633e;
    --purple-dark: #847ffa;
    --green: #5b7b69;
    --peach: #f0cfcd;
    --blue: #2e54ec;
    --purple-medium: #d2d0fd;
    --green-neon: #d1fc01;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2 {
    font-weight: 200;
    text-transform: uppercase;
    padding: 1rem 18rem;
}

h1 {
    color: var(--green);
}

h1 a {
    color: var(--green);
}

h2 {
    color: var(--orange);
}

h3 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 375;
    margin: 0;
}

h5 {
    font-size: 1.25rem;
    font-weight: 360;
    margin-bottom: 1rem;
}

body {
    font-family: var(--font-sans-serif);
    color: var(--black);
    font-size: 1.85rem;
    font-weight: 350;
}

.component img {
    border: 1px solid #ccc;
}

.component__code {
    border: 1px solid #ccc;
    margin: 1rem auto;
}

/* BUTTONS */
.pill-btn {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 40px;
    border: 1px solid #000;
    color: var(--black);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 350;
    width: 100px;
}

.pill-btn:hover {
    background-color: #f2eeff;
}

.pill-btn--footer {
    font-size: 1rem;
    width: 100px;
}

.pill-btn--footer:hover {
    background-color: var(--purple-medium);
}

.pill-btn--translate {
    font-size: 1rem;
    width: 35px;
    border-radius: 15px;
}

.pill-btn--translate:hover {
    background-color: var(--green-neon);
}

.pill-btn--news {
    margin-top: 10rem;
}

.feature-arrow {
    display: inline-block;
    font-size: 100px;
    color: var(--black);
    text-decoration: none;
}

/* HEADER/NAVIGATION */
.logo {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 2rem 13%;
    border: none;
}

img.logo {
  border: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    display: flex;
    gap: 6rem;
}

.about-bar ul {
    display: flex; 
    gap: 7rem; 
    margin-left: 10rem;
}

.resource-bar ul {
    display: flex;
    gap: 1.75rem;
    margin-right: 12.5rem;
}

.navigation li {
    list-style-type: none;
}

.navigation a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 350;
    text-transform: uppercase;
}

.about-bar a {
    letter-spacing: 0.5px;
}

.resource-bar a {
    font-size: 0.95rem;
}

/* MISSION STATEMENT */
.mission-statement {
    font-family: var(--font-serif);
    font-size: 3.4rem;
    font-weight: 375;
    line-height: 1.2;
    padding: 1rem 18rem;
    text-align: left;
    background: #fff;
}

/* THE ARCHIVE */
.archive-carousel {
    padding: 2rem; 
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1 rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 5 rem;
    height: 5 rem;
    border-radius: 50%;
    background-color: #fff;
}

/* NEWS FEATURE */
.news-feature {
    background: var(--blue);
    color: var(--black);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto 2fr;
    width: 57%;
    flex-grow: 1;
    max-width: 100%;
    margin: 0 auto;
    padding: 3rem;
    gap: 2rem;
}

.news-feature-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;  
    gap: 2rem;                
    width: 70%;      
    margin: 3rem auto; 
    gap: 2rem;
}

.news-feature::after {
    content: "";
    grid-column: 1 / -1;
    grid-row: 2;
    height: 1px;
    background: black;
}

.item1 {
    font-size: 7rem;
    font-weight: 500;
}

.item2 {
    text-align: left;
    font-size: 800;
    font-weight: 600;
    text-transform: uppercase;
}

.item3-text p {
    margin-top: 0rem;
    font-size: 12rem;
    font-weight: 400;
}

.item4 {
    text-align: left;
}

.feature-arrow {
    display: inline-block;
    font-size: 5rem;
    color: var(--black);
    text-decoration: none;
}

.vertical-label {
    flex-shrink: 0;       
    padding-right: 6rem;
}

/* CALL FOR PAPERS */
.news-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    width: 57%;
    margin: 5rem auto;
}

.row-image img {
    width: 100%;
    height: auto;
    display: block;
    border: none;
}

.row-text h4 {
    margin: 0;
    font-size: 2.6rem;
    font-weight: 350;
}

.row-text p {
    font-size: 1.7rem;
    font-weight: 300;
    margin-right: 15%;
}

/* WOMEN TOGETHER */
.women-together {
    max-width: 100%;
    width: 100%;
}

.content__women-together {
    display: flex;
    align-items: flex-start;
}

.component__code.women-together {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 4rem 23rem;
}

.symbol img {
    width: 135px;
    height: auto;
    border: none;
    padding-top: 1.5rem;
    margin-left: 4.75rem;
    margin-right: 1.25rem;
}

.right-column {
    display: flex;
    flex-direction: column;
}

/* FOOTER */
.component__code.footer {
    background-color: var(--purple-light);
    padding: 3rem 23rem;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  align-items: flex-start;
  gap: 8rem;
  margin-bottom: 2.5rem;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.footer-column a {
    text-decoration: none;
    color: var(--black);
}

.footer-bottom {
  display: flex;
  justify-content: left;
  padding-top: 1rem;
  gap: 12rem;
}

.footer-bottom img {
  height: 54px;
  width: auto;
  border: none;
}