/* GENERAL SPECIFICATIONS */
:root {
    --font-sans-serif: Roboto, sans-serif;
    --font-serif: Newsreader, serif;
    --black: #000;
    --white: #fff;
    --purple-light: #efeafd;
    --orange: #cb633e;
    --purple-dark: #847ffa;
    --green: #5b7b69;
    --peach: #f0cfcd;
    --blue: #2e54ec;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2 {
    font-weight: 200;
    text-transform: uppercase;
    padding: 1rem 18rem;
}

h1 {
    color: var(--green);
}

h1 a {
    color: var(--green);
}

h2 {
    color: var(--orange);
}

h3 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 375;
    margin: 0;
}

body {
    font-family: var(--font-sans-serif);
    color: var(--black);
    font-size: 2rem;
    font-weight: 350;
}

.component img {
    border: 1px solid #ccc;
}

/* BUTTONS */
.pill-btn {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2.2rem;
    padding: 0.3rem;
    border-radius: 40px;
    border: 1px solid #000;
    color: var(--black);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 350;
    width: 100px;
}

.pill-btn:hover {
    background-color: #f2eeff;
}

/* MISSION STATEMENT */
.mission-statement {
    font-family: var(--font-serif);
    font-size: 3.4rem;
    font-weight: 375;
    line-height: 1.2;
    border: 1px solid #ccc;
    padding: 4rem 18rem;
    text-align: left;
}

/* WOMEN TOGETHER */
.component__code.women-together {
    border: 1px solid #ccc;
    padding: 5rem 10rem;
    margin: 6rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.content__women-together {
    display: flex;
}

.symbol img {
    width: 135px;
    height: auto;
    border: none;
}

.right-column {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

