/* GENERAL SPECIFICATIONS */
:root {
    --font-sans-serif: Roboto, sans-serif;
    --font-serif: Newsreader, serif;
    --black: #000;
    --white: #fff;
    --purple-light: #efeafd;
    --orange: #cb633e;
    --purple-dark: #847ffa;
    --green: #5b7b69;
    --peach: #f0cfcd;
    --blue: #2e54ec;
    --purple-medium: #d2d0fd;
    --green-neon: #d1fc01;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2 {
    font-weight: 200;
    text-transform: uppercase;
    padding: 1rem 18rem;
}

h1 {
    color: var(--green);
}

h1 a {
    color: var(--green);
}

h2 {
    color: var(--orange);
}

h3 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 375;
    margin: 0;
}

h5 {
    font-size: 1.25rem;
    font-weight: 360;
    margin-bottom: 1rem;
}

body {
    font-family: var(--font-sans-serif);
    color: var(--black);
    font-size: 1.85rem;
    font-weight: 350;
}

.component img {
    border: 1px solid #ccc;
}

.component__code {
    border: 1px solid #ccc;
    margin: 1rem auto;
}

/* BUTTONS */
.pill-btn {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 40px;
    border: 1px solid #000;
    color: var(--black);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 350;
    width: 100px;
}

.pill-btn:hover {
    background-color: #f2eeff;
}

.pill-btn--footer {
    font-size: 1rem;
    width: 100px;
}

.pill-btn--footer:hover {
    background-color: var(--purple-medium);
}

.pill-btn--translate {
    font-size: 1rem;
    width: 35px;
    border-radius: 15px;
}

.pill-btn--translate:hover {
    background-color: var(--green-neon);
}

.feature-arrow {
    display: inline-block;
    font-size: 100px;
    color: var(--black);
    text-decoration: none;
    margin-top: 6rem;
}

/* HEADER/NAVIGATION */
.logo {
    width: 1700px;
    display: block;
    margin: 0 auto;
    padding: 2rem;
    border: none;
}

img.logo {
  border: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    display: flex;
    gap: 6rem;
}

.about-bar ul {
    display: flex; 
    gap: 7rem; 
    margin-left: 10rem;
}

.resource-bar ul {
    display: flex;
    gap: 1.75rem;
    margin-right: 12.5rem;
}

.navigation li {
    list-style-type: none;
}

.navigation a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 350;
    text-transform: uppercase;
}

.about-bar a {
    letter-spacing: 0.5px;
}

.resource-bar a {
    font-size: 0.95rem;
}

/* MISSION STATEMENT */
.mission-statement {
    font-family: var(--font-serif);
    font-size: 3.4rem;
    font-weight: 375;
    line-height: 1.2;
    padding: 1rem 18rem;
    text-align: left;
    background: #fff;
}

/* NEWS */
.news-feature {
    background: var(--blue);
    color: var(--black);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 85%;
    margin: 0 auto;
    padding: 0 2rem;
    gap: 30%;
}

.news-feature-wrapper {
    display: flex;
    align-items: flex-start;
    margin: 5rem auto;
    width: 68%;
}

#news-date,
#news-title {
    display: inline-block;           /* keeps the underline only under the text */
    border-bottom: 3px solid var(--black);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}


.feature-info h4 {
    font-size: 6.5rem;
    font-weight: 400;
    margin: 2rem 0;
}

.feature-info p {
    font-size: 2.75rem;
    margin: 0;
}

.feature-title h4 {
    font-size: 3rem;
    font-weight: 350;
    text-transform: uppercase;
    margin-top: 2rem;
}

.news-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

.row-image img {
    width: 100%;
    height: auto;
    display: block;
    border: none;
}

/* WOMEN TOGETHER */
.women-together {
    max-width: 100%;
    width: 100%;
}

.content__women-together {
    display: flex;
    align-items: flex-start;
}

.component__code.women-together {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 4rem 23rem;
}

.symbol img {
    width: 135px;
    height: auto;
    border: none;
    padding-top: 1.5rem;
    margin-left: 4.75rem;
    margin-right: 1.25rem;
}

.right-column {
    display: flex;
    flex-direction: column;
}

/* FOOTER */
.component__code.footer {
    background-color: var(--purple-light);
    padding: 3rem 23rem;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  align-items: flex-start;
  gap: 8rem;
  margin-bottom: 2.5rem;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.footer-column a {
    text-decoration: none;
    color: var(--black);
}

.footer-bottom {
  display: flex;
  justify-content: left;
  padding-top: 1rem;
  gap: 12rem;
}

.footer-bottom img {
  height: 54px;
  width: auto;
  border: none;
}