/* GENERAL SPECIFICATIONS */
:root {
    --font-sans-serif: Roboto, sans-serif;
    --font-serif: Newsreader, serif;
    --black: #000;
    --white: #fff;
    --purple-light: #efeafd;
    --orange: #cb633e;
    --purple-dark: #847ffa;
    --green: #5b7b69;
    --peach: #f0cfcd;
    --blue: #2e54ec;
    --purple-medium: #d2d0fd;
    --green-neon: #d1fc01;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2 {
    font-weight: 200;
    text-transform: uppercase;
}

h1 {
    color: var(--green);
}

h1 a {
    color: var(--green);
}

h2 {
    color: var(--orange);
}

h3 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 375;
    margin: 0;
}

h5 {
    font-size: 1.25rem;
    font-weight: 360;
    margin-bottom: 1rem;
}

body {
    font-family: var(--font-sans-serif);
    color: var(--black);
    font-size: 1.85rem;
    font-weight: 350;
}

/* BUTTONS */
.buttons {
    margin-left: 15vw;
}

.pill-btn {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 40px;
    border: 1px solid #000;
    color: var(--black);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 350;
    width: 100px;
}

.pill-btn:hover {
    background-color: #f2eeff;
}

.pill-btn--footer {
    font-size: 1rem;
    width: 100px;
}

.pill-btn--footer:hover {
    background-color: var(--purple-medium);
}

.pill-btn--translate {
    font-size: 1rem;
    width: 35px;
    border-radius: 15px;
}

.pill-btn--translate:hover {
    background-color: var(--green-neon);
}

.pill-btn--offers {
    width: 250px;
}

.feature-arrow {
    display: inline-block;
    font-size: 100px;
    color: var(--black);
    text-decoration: none;
}

/* HEADER/NAVIGATION */
.component__code.header-nav {
    border-bottom: 1px solid var(--black);
}

.logo {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.5rem 16.5%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul {
    display: flex;
    gap: 6rem;
}

.about-bar ul {
    display: flex; 
    gap: 6vw; 
    margin-left: 10rem;
}

@media  (max-width: 1000px) {
    .about-bar ul {
        gap: 2vw; 
    }

    .navigation {
        justify-content: center;
    }
}

.resource-bar ul {
    display: flex;
    gap: 1rem;
    margin-right: 12.5rem;
}

.navigation li {
    list-style-type: none;
}

.navigation a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.10rem;
    font-weight: 365;
    text-transform: uppercase;
}

.about-bar a {
    letter-spacing: 0.5px;
}

.resource-bar a {
    font-size: 0.85rem;
}

/* HERO CAROUSEL */
.hero {
  background-color: var(--purple-light);  
}

.component__code.hero {
    display: flex;
    width: 67%;
    margin: 0 auto;
}

.hero-img {
    max-width: 815px;
    width: 50%;
}

.hero-img img {
    display: block;
    max-width: 815px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.row-text--hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--orange);
    flex: 1;
    padding: 2rem;
}

/* MISSION STATEMENT */
.component__code.mission-statement {
    font-family: var(--font-serif);
    font-size: 3.1rem;
    font-weight: 365;
    line-height: 1.2;
    padding: 1rem 16.5%;
    text-align: left;
    background: #fff;
    border-bottom: 1px solid var(--black);
    margin: 0;
}

/* THE ARCHIVE */
.component__code.the-archive {
    display: flex;
    align-items: flex-start;
    margin: 5rem 16% 3rem;   
    width: fit-content;
}

.archive-carousel {
    flex: 1;
    max-width: 65%;
    margin: 0;
    padding: 0;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    padding-left: 5vw;
}

.slider-wrapper p {
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
}

.slider {
    display: flex;
    aspect-ratio: 13 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin-bottom: 2rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1 rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 5 rem;
    height: 5 rem;
    border-radius: 50%;
    background-color: #fff;
}

.found-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0rem;
    max-width: 100%;
}

.found-item img {
    border-radius: 50%;
    width: 65%;
    height: auto;
}

.found-item a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.4rem;
}

/* NEWS FEATURE */
.component__code.news {
    border-top: 1px solid var(--black);
}

.news-feature {
    background: var(--blue);
    color: var(--black);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto 2fr;
    flex-grow: 1;
    max-width: 59%;
    padding: 2rem;
    gap: 2rem;
    margin: 0 4vw;
}

.news-feature-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;                    
    margin: 5rem auto; 
}

.news-feature::after {
    content: "";
    grid-column: 1 / -1;
    grid-row: 2;
    height: 1px;
    background: black;
}

.item1 {
    font-size: clamp(3rem, 7vw, 5rem);
    font-weight: 500;
}

.item2 {
    text-align: left;
    font-size: clamp(1rem, 2.5vw, 3rem);
    font-weight: 600;
    text-transform: uppercase;
}

.item3-text p {
    margin-top: 0rem;
    font-size: 12rem;
    font-weight: 400;
}

.item4 {
    text-align: left;
}

.feature-arrow {
    display: inline-block;
    font-size: 5rem;
    color: var(--black);
    text-decoration: none;
}

/* CALL FOR PAPERS */
.news-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    width: 57%;
    margin: 5rem auto;
}

.row-image img {
    width: 100%;
    height: auto;
    display: block;
}

.row-text h4 {
    margin: 0;
    font-size: 3vw;
    font-weight: 350;
}

.row-text p {
    font-size: clamp(1rem, 2vw, 1.7rem);
    font-weight: 300;
    margin-right: 15%;
}

/* WOMEN TOGETHER */
.women-together {
    max-width: 100%;
    width: 100%;
}

.content__women-together {
    display: flex;
    align-items: flex-start;
}

.component__code.women-together {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 4rem 23rem;
}

.symbol img {
    width: 135px;
    height: auto;
    padding-top: 1.5rem;
    margin-left: 4.75rem;
    margin-right: 1.25rem;
}

.right-column {
    display: flex;
    flex-direction: column;
}

/* FOOTER */
.component__code.footer {
    background-color: var(--purple-light);
    padding: 3rem 18vw;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  align-items: flex-start;
  gap: 8rem;
  margin-bottom: 2.5rem;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.footer-column a {
    text-decoration: none;
    color: var(--black);
}

.footer-bottom {
  display: flex;
  justify-content: left;
  padding-top: 1rem;
  gap: 12rem;
}

.footer-bottom img {
  height: 54px;
  width: auto;
}