<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Gosteli Archive</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
</head>
<body>
    <h1>Web Components</h1>

    <article class="component">
        <h2 class="component__name">Mission Statement</h2>
        <img
            srcset="screenshots/mission-statement@2x.png 2x"
            src="screenshots/mission-statement@2x.png"
            alt="Mission statement copy">

        <div class="component__code">
            <h3>The Gosteli Archive collects and makes accessible sources on women's history. We advise researchers on their research and share our knowledge with a broad audience.</h3>

        </div> <!--close mission statement code div-->   
    </article> <!--close mission statement component article-->
</body>
</html>