<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Gosteli Archive</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet">
</head>
<body>
    <h1> 
        <a target="_blank"
        href="https://www.gosteli-archiv.ch/"> Gosteli Archive</a> Case Study Web Components</h1>

    <article class="component">
        <h2 class="component__name">Mission Statement</h2>
        <img
            srcset="screenshots/mission-statement@2x.png 2x"
            src="screenshots/mission-statement@2x.png"
            alt="Mission statement copy">

        <div class="component__code">
            <h3 class="mission-statement">The Gosteli Archive collects and makes accessible sources on women's history. We advise researchers on their research and share our knowledge with a broad audience.</h3>

        </div> <!--close mission statement code div-->   
    </article> <!--close mission statement component article-->
</body>
</html>