<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Gosteli Archive</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet">
</head>
<body>
    <h1> 
        <a target="_blank"
        href="https://www.gosteli-archiv.ch/"> Gosteli Archive</a> Case Study Web Components</h1>

    <article class="component"> <!--begin mission statement component-->  
        <h2 class="component__name">Mission Statement</h2>
        <img
            srcset="screenshots/mission-statement@2x.png 2x"
            src="screenshots/mission-statement@2x.png"
            alt="Mission statement copy">

        <div class="component__code">
            <h3 class="mission-statement">The Gosteli Archive collects and makes accessible sources on women's history. We advise researchers on their research and share our knowledge with a broad audience.</h3>

        </div> <!--close mission statement code div-->   
    </article> <!--end mission statement component-->

        <article class="component"> <!--begin women together component-->  
        <h2 class="component__name">Women Together</h2>
        <img
            srcset="screenshots/women-together@2x.png 2x"
            src="screenshots/women-together@2x.png"
            alt="Women Together article screenshot">

        <div class="component__code">
<div class="vertical-label">
            <h1>Women Together</h1>
        </div> <!--end vertical-label div-->

        <div class="content">
            <div class="symbol">
            <img src="https://www.gosteli-archiv.ch/assets/Test/Screenshot-2024-10-09-at-10__ScaleWidthWzM2MF0.22.47.png"
                alt="Hazy purple female symbol"/>
            </div> <!--end symbol div-->

            <div class="text-block">
            <p>What have women fought for and achieved together? We tell success stories of the women's movements in Switzerland: the recognition of unpaid care work in the old-age and survivors' insurance (AHV), greater social security for female farmers, participation in sports, and much more. Read for yourself!</p>

            <a href="#" class="more-btn"><p>→ more</p></a>
            </div> <!--end text-block div-->
        </div> <!--end content div-->

        </div> <!--close women together code div-->   
    </article> <!--end women together component-->
</body>
</html>